{% extends "::base.html.twig" %}

{% block content %}
    <div class="content grid">
        <div class="sidebar">
            {{ ns_cms_area(blocks, 'sidebar') }}
            {{ ns_cms_area(blocks, 'sidebarNotFixed') }}
        </div>
        <article class="article">
            <article class="content grid index">
                <section class="right">
                    <div class="what-we-can">
                        <p class="h1">Что мы умеем?</p>
                        {{ ns_cms_area(blocks, 'skills') }}
                    </div>
                    {{ ns_cms_area(blocks, 'right') }}
                    <form method="get" action="{{ url('ns_cms_page_name', { name: 'search' } ) }}" id="search-form">
                        <label for="query">Поиск по сайту:</label>
                        <input type="text" name="query" id="query" class="required">
                        <input type="submit" title="Искать" value="" id="search-submit">
                    </form>
                </section>
                <section class="left">
                    {{ ns_cms_area(blocks, 'content') }}
                </section>
            </article>
        </article>
    </div>
{% endblock content %}
